<html>
<head>
   <title>Crud Operaction Into Database </title>
</head>
<h1>Uer list</h1>


<table border="1">
    <th>FirstName</th> <th>Lastname</th> <th>Email</th> <th>Password</th> <th> Edit </th> <th> Delete </th>
    <tr><% results.forEach(function(result) { %></tr>
          <td><%= result.firstname %></td> - <td><%= result.lastname %></td> - <td><%= result.email %></td> - <td><%= result.password %></td>
          <td><a href="/edit?email=<%= result.email %>"> Edit</a></td>
          <td><a href="/delete?email=<%= result.email %>"> Delete</a></td>
            <% }); %>
  <a href="/add">Add</a>
</table>
<% if (locals.errors) { %>
  <ul>
    <% Object.values(errors).forEach(function(error){ %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>
</body>
</html>
